.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*~
*.orig
*.icloud

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history/

# Git conflict
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt